.wundoo-logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  display: flex;
  align-items: flex-end;
  img {
    width: 200px;
    @media(max-width: 320px) {
      width: 150px;
    }
  }
  @media(max-width: 576px) {
    font-size: $font-size-lg + 2px;
  }
  @media(max-width: 320px) {
    font-size: $font-size-lg;
  }
}

.sign-bubble {
  position: relative;
}

.bubble-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media(max-width: 1024px) {
    bottom: -15%;
  }

  p {
    font-weight: 600;
    font-size: $block-md - 4px;
    line-height: $block-md - 4px;
    letter-spacing: 0.4px;
    color: #604330;
  }

  h2 {
    font-weight: 600;
    font-size: $font-size-lg * 2;
    line-height: $font-size-lg * 2;
    letter-spacing: 0.4px;
    color: #B1532B;
  }
}

.carousel-header {
  img {
    height: 400px;
  }
}

img {
  max-width: 100%;
}

.home-carousel-wrap {
  padding-top: 120px;
  margin: 0 0 $block-md + 4px 0;
  border-radius: $block-sm;

  .home-carousel {
    border-radius: $block-sm;

    img {
      max-height: 421px;
    }
  }
}

.carousel-header {
  position: relative;
}

.prev {
  background-color: #000000 !important;
  background-image: url(./assets/image/slider/pre.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 35px;
  padding: 50px 30px 50px 30px !important;
  margin-left: 0 !important;
  position: absolute;
  top: 35%;
  left: 0 !important;
  z-index: 100;
  border-radius: $block-sm - 5px;
  cursor: pointer;

  span {
    display: none;
  }
}

.next {
  background-color: #000000 !important;
  background-image: url(./assets/image/slider/next.png) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 35px;
  padding: 50px 30px 50px 30px !important;
  margin-left: 0 !important;
  position: absolute;
  top: 35%;
  right: 0 !important;
  z-index: 100;
  border-radius: $block-sm - 5px;
  cursor: pointer;

  span {
    display: none;
  }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  color: #fff !important;
  background: #000 !important;
  width: 40px !important;
  height: 80px !important;
  left: 0 !important;
  border-radius: 5px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  color: #fff !important;
  background: #000 !important;
  width: 40px !important;
  height: 80px !important;
  right: 0 !important;
  border-radius: 5px;
}

@media (max-width: 576px) {

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    width: 20px !important;
    height: 40px !important;
  }

  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    font-size: $font-size-sm !important;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    width: 20px !important;
    height: 40px !important;
  }

  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    font-size: $font-size-sm !important;
  }
}

.owl-item {
  border-radius: $block-sm !important;
}

.owl-image-frame {
  border-radius: $block-sm;

  .owl-image {
    height: 512px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: $block-sm;
  }
}

.count {
  .diary {
    max-width: 34px;
  }

  span {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: $font-size-md;
    line-height: $block-md - 7px;
    letter-spacing: 0.36px;
    color: $darkerBrown;
  }
}

.egles {
  margin-top: $font-size-md;

  .eglesLogo {
    max-width: $block-lg - 8px;
    max-height: $block-lg - 8px;
  }

  .eglesTotem {
    max-width: none;
    width: 100%;
  }

  h2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: $font-size-md + 6px;
    margin: 0 0 0 7px;
    letter-spacing: 0.78px;
    line-height: $block-md + 2px;
    color: #000000;
  }
}

.leaderboard {
  margin-top: $font-size-lg;
  margin-bottom: $font-size-lg;
  background: $white;
  border: 1px solid #DBDBDB;
  border-radius: $block-sm;

  .leaderboard-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: $font-size-lg;
    line-height: $block-md - 4px;
    letter-spacing: 0.44px;
    color: #745B4A;

    @media(max-width: 576px) {
      color: #9d7052;
    }
  }

  .hunter-info {
    @media(max-width: 576px) {
      padding: 0 $block-md;
    }

    @media(max-width: 375px) {
      padding: 0 $block-sm;
    }
  }

  .local-hunter {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: 20.27px;
    letter-spacing: 0.31px;
  }
}

.leaderboard-style {
  padding: 25px 0 15px 0;
}

.avatar {
  background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  min-width: $searchBarHeight;
  min-height: $searchBarHeight;
  border-radius: $searchBarHeight;
  position: relative;

  img {
    position: absolute;
    right: -5px;
    bottom: 0;
  }
}

.icon-list {
  max-width: 86px;
  min-height: $block-sm * 2;

  img {
    padding-right: 2px;
    height: $block-sm * 2;
    width: $block-sm * 2;
  }
}

.hunterGrade {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-size: $font-size-sm - 2px;
  line-height: 17.38px;
  letter-spacing: 0.27px;
  color: #686868;
}

//競技場、豐年祭 btn
.harvest-btn,
.arena-btn {
  img {
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

.harvest-btn {
  margin: 20px 0 0 0;
  padding-right: $block-sm !important;
}

.arena-btn {
  margin: 20px 0 0 0;
  padding-left: $block-sm !important;
}

//每日簽到 modal
.everyday-modal-title {
  background-image: url('./assets/image/images/everyday_sign.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: $block-sm * 10;
  position: relative;
  @media(max-width: 576px) {
    background-image: url('./assets/image/images/everyday_sign_mobile.png');
    padding: 0;
    min-height: 110px;
    background-position: center;
    background-size: 100% 100%;
  }
}

.close-every-sign {
  position: absolute;
  top: $block-sm * 2;
  right: $block-sm * 2;
}

.sign-block {
  width: 80px;
  height: 75px;
}

.evdsign-block {
  margin-bottom: $block-md * 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// 右側每日溫度字卡
// .tempCard {
// }
@media (max-width:768px) {
  .tempCard {
    // max-width:500px !important;
    padding: 0 1rem;
  }

  .harvest-btn {
    justify-content: center;
    padding-right: 0 !important;
  }

  .arena-btn {
    justify-content: center;
    padding-left: 0 !important;
  }
}

.card-top-block {
  display: flex;
  justify-content: center;
  background-color: #FF9C28;

  .tempTitle {
    width: 350px;
    height: 120px;
    margin-top: - 60px;

    @media(max-width: 1024px) {
      width: 280px;
      height: 100px;
    }

    @media(max-width: 768px) {
      width: 380px;
      height: 140px;
    }

    @media(max-width: 576px) {
      width: 280px;
      height: 100px;
    }
  }

  .zongzi {
    max-width: 250px;
    margin-bottom: - $block-sm;
  }

  // 餐與活動按鈕
  .activeBtn {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: $font-size-md;
    line-height: 23.17px;
    letter-spacing: 0.36px;
    padding: 14px 20px;
  }
}

@media (max-width: 1200px) {
  .zongzi-wood-board {
    padding-bottom: $block-md;
    margin-bottom: 0;
  }

  .activeBtn {
    margin-bottom: $block-md;
  }
}

// .zongzi-image {
//   max-width: 368px;
// }
// 分享喜歡粽子口味的人
.cardAvatar {
  background-image: url('https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  min-width: $block-lg +8px;
  min-height: $block-lg +8px;
  border-radius: $block-lg +8px;
  position: relative;

  img {
    position: absolute;
    right: - $block-sm;
    bottom: 0;
    min-width: 35px;
    min-height: 35px;
  }
}

.zongzi-name {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;
  font-size: $font-size-md;
  line-height: $block-md -1px;
  letter-spacing: 0.5px;
}

//部落電視&獵場
.hunting-tv-section {
  margin-top: $block-lg;

  @media(max-width: 576px) {
    margin-top: $block-md;
  }
}

// 部落有電視
.tv-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .tv-youtube-background {
    z-index: 9;
    position: relative;
  }
}

.videoWrapper {
  position: absolute;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  z-index: 10;
  width: 100%;
}

.videoWrapper iframe {
  position: absolute;
  top: 24%;
  left: 9%;
  width: 80%;
  height: 80%;
}

// 在地獵場
.hunt-map {
  align-items: stretch;
}

.hunting-ground {
  position: relative;
}

.lhg_title {
  position: absolute;
  top: -$block-sm * 5;
  left: 30%;

  @media(max-width: 1024px) {
    left: 20%;
  }

  @media (max-width:768px) {
    left: 25%;
    top: -$block-sm * 7;
  }

  @media(max-width: 576px) {
    left: 15%;
  }

  @media(max-width: 375px) {
    left: 10%;
  }

  img {
    width: 350px;
    height: 120px;

    @media(max-width: 768px) {
      width: 380px;
      height: 140px;
    }

    @media(max-width: 576px) {
      width: 280px;
      height: 100px;
    }
  }
}

@media (max-width:768px) {
  .hunt-map {
    margin: $block-md 0;
  }
}

//格線
.hr-img {
  margin: $block-sm 0 $block-sm 0;
}

//同好獵場
.home-share-title {
  // 共用title
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  font-size: $font-size-lg +4px;
  line-height: 32px;
  letter-spacing: 0.78px;
  margin-bottom: 0;
  padding: 5px 0 0 5px;
}

.homo-check-all {
  //共用查看全部
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 400;
  font-size: $font-size-sm;
  line-height: $block-sm * 2;
  letter-spacing: 0.5px;
  color: $main-brown-light;
  text-decoration: none !important;
  padding: 5px 0 0 $font-size-md;
}

.homo {
  .homo-card-f {
    padding: $block-sm * 2;

    @media(max-width:576px) {
      padding: $block-sm;
    }

    .homo-card {
      padding-top: $block-sm;
      border-radius: $block-sm - 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 250px;
      position: relative;

      .homo-card-tag {
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 500;
        font-size: $font-size-lg;
        line-height: 26px;
        letter-spacing: 0.36px;
        position: absolute;
        background: linear-gradient(223deg, #FF655B 4.24%, #FF4328 97.99%);
        border-radius: 5px 0px;
        color: #FFFFFF;
        padding: 4px 8px 4px 8px;
        top: 0;
        left: 0;
        min-width: 93px;
        text-align: center;
      }
    }
  }

  .hunt-people-block {
    padding: $block-sm;
    border-radius: $block-sm - 5px;

    // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    .hunt-people-number {
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: normal;
      font-size: $font-size-sm;
      line-height: $block-sm * 2;
      color: $main-gray-light;
    }

    .hunt-people-img {
      filter: invert(100%) sepia(0%) saturate(73%) hue-rotate(180deg) brightness(96%) contrast(187%);
      padding-right: $block-sm;
    }

    .into-hunt-ground {
      button {
        font-family: 'Noto Sans TC', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.6px;
        color: #FFFFFF;
        background-color: $main-red;
        border: 0;
        border-radius: $block-sm - 5px;
        padding: 6px 12px 6px 12px;
      }
    }
  }
}

.hunting-ground-title {
  padding: $block-sm;
  h3 {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: $block-md -6px;
    line-height: $block-md +5px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
  }
}

// 旅行打獵趣
.travel-block-f {
  padding: $font-size-md $block-md $font-size-md $block-sm;
}

.travel-hunt-block {
  border-bottom: 1px solid #E4E4E4;
}

.travel-image {
  position: relative;

  img {
    max-width: 100px;
    border-radius: $block-sm;
    margin-bottom: $font-size-md;
  }
}

.travel-textcontent {
  @media(max-width: 576px) {
    margin-left: $block-sm * 2;
  }
}

.travel-hunt-name {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-md;
  line-height: 23px;
  letter-spacing: 0.4px;
  color: #000000;
}

.travel-hunt-prof {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-sm;
  line-height: $block-sm * 2;
}

.travel-tag {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  font-size: $font-size-sm -1px;
  line-height: 19px;
  letter-spacing: 0.28px;
  position: absolute;
  background: linear-gradient(223deg, #FF655B 4.24%, #FF4328 97.99%);
  border-radius: 10px 0px;
  color: #FFFFFF;
  padding: 4px 8px 4px 8px;
  top: 0;
  left: 0;
  min-width: 35px;
  text-align: center;
}

@media(max-width: 1024px) {
  .travel-image {
    img {
      max-width: 80px;
    }
  }
}

@media(max-width: 768px) {
  .travel-image {
    img {
      max-width: 100px;
    }
  }
}

// 中獎總是要還的
.always-pay-back {
  margin-bottom: $block-sm * 3;
}

.bowtie {
  margin-bottom: -5px;
}

.winning-card {
  .winning-card-title {
    h4 {
      font-family: 'Noto Sans TC', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: $font-size-sm;
      line-height: $font-size-lg;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 0;
      background-color: $gift;
      padding: 7px 11px 7px 11px;
      border-radius: $block-sm $block-sm 0 0;
    }
  }
}

.winng-card-content {
  border: 1px solid #E0E0E0;
  border-radius: 0 0 $block-sm $block-sm;
}

.winer-award {
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: $font-size-lg;
  color: $gift;
  padding: 8px $block-sm 5px $block-sm;
}

.prize-image {
  // height: 200px;
  // width: 100%;
  // @media(max-width: 1024px) {
  //   height: 170px;
  // }
}

.head-sticker {
  max-width: 76px;
  position: relative;
  padding: 2px 15px 2px 15px;
  margin-top: -22px;

  .head-sticker-img {
    max-width: 45px;
    min-height: 45px;
    border-radius: 45px;
  }
}

.winner-badge {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.winner-name {
  padding: 6px 0 5px 11px;
  font-family: 'Noto Sans TC', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: $link;
}

.winner-text {
  padding: 8px $block-sm 0 $block-sm;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.winer-award {
  padding-bottom: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.winer-img-block {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//底部廣告
.advertising {
  margin-bottom: $block-sm * 2;

  @media(max-width: 576px) {
    margin-bottom: $block-md;
  }

  .adv-img {
    background-image: url('https://images.unsplash.com/photo-1491555103944-7c647fd857e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 151px;

    h2 {
      font-family: 'Noto Sans TC', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: $block-md;
      line-height: 43px;
      letter-spacing: 1px;
      color: #FFFFFF;
      margin-left: 68px;
    }
  }
}

//豐年祭、競技場按鈕間距
.playground-btn {
  margin-top: $block-sm;
}

.homepage-text-shadow {
  text-shadow: 1.6px 1.6px 3.2px #000000;
}