.rest-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.rest-content {
  height: 525px;
  flex: 1 0 auto;
}
.reset-footer {
  height: 240px;
  width: 100%;
  flex: 0 0 auto;
}
.reset-password-container {
  max-width: 1000px;
}
.repass-word {
  margin-bottom:70px;
  input {
    max-width: 400px;
  }
}
.reset-btn {
  display: flex;
  justify-content: center;
  button {
    padding:10px 60px;
  }
}

